.postedit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.editor-content {
  padding: 0.5rem 0;
}

.postedit-title {
  background: none;
  border: none;
  width: 100%;
  height: 40px;
  font-size: 2rem;
  outline: none;
  margin: 1rem 0;
}

.postedit-upload-button {
  margin: 1rem 0;
}

.postedit-submit-buttons {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .postedit-container {
    flex-direction: row;
  }
}
