.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #f9f9f9;
  padding: 1rem 0;
}

.main-top {
  letter-spacing: 0.5px;
  font-size: 1.4rem;
}
.main-bottom {
  letter-spacing: 0.5px;
  margin-top: 0;
  font-size: 0.85rem;
}
