/** 컨테이너 */
.postdetail-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 4rem 20rem;
}

/** top */
.postdetail-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.postdetail-title {
  font-size: 2rem;
  margin: 0.5rem 0rem;
}

.postdetail-profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3rem;
}

.postdetail-profile img {
  width: 30px;
  height: 30px;
}

/* private */

.postdetail-private {
  margin-left: auto;
  display: flex;
  gap: 0.05rem;
}

.postdetail-edit-button {
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  font-size: 0.625rem;
  margin: 0;
}

.postdetail-delete-button {
  border: none;
  background-color: #ff0000;
  color: #ffffff;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  font-size: 0.625rem;
  margin: 0;

  &:hover {
    cursor: pointer;
  }
}

/** bottom */
.postdetail-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.postdetail-img {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.postdetail-content {
  width: 100%;
  letter-spacing: 0.025rem;
  line-height: 1.75rem;
}

@media (min-width: 768px) {
  .postdetail-title {
    font-size: 2.5rem;
  }
}
