.input {
  border-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 1rem;
  outline: 0;
  font-size: 0.9rem;
}

.title-input {
  margin-bottom: 1rem;
  border-radius: 1px;
  border: 1px solid #ddd;
  width: 100%;
  padding: 15px;
}

.category-input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  flex: 1;
}

.edit-profile-input {
  width: 100%;
}

@media (min-width: 768px) {
  .category-input {
    flex: 2;
  }
}

@media (min-width: 1024px) {
  .category-input {
    flex: 3;
  }
}
