.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.category-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.category-add-item {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

.category-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 1rem;
}

.category-name {
  width: 100%;
  flex: 2;
}
.category-name p {
  font-size: 1.2rem;
  padding: 0.7rem;
  margin: 0;
  width: 100%;
}

.category-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 4px;
  flex: 1;
}
