body {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
  font-family: 'ChosunGu', sans-serif;
  overflow-x: hidden;
}

input,
button,
select,
textarea {
  font-family: 'ChosunGu', sans-serif;
}
