body {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
  font-family: 'ChosunGu', sans-serif;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

@media (min-width: 768px) {
  body.no-scroll {
    overflow: visible;
  }
}

input,
button,
select,
textarea {
  font-family: 'ChosunGu', sans-serif;
}
