.join-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  gap: 2rem;
}

.join-title {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 4px;
  font-weight: 900;
}

.join-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 344px;
  padding: 2rem;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.join-input-box {
  width: 100%;
}

.join-input {
  width: 100%;
  padding: 0.7rem 0rem 0.7rem 0.5rem;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

.join-button {
  width: 100%;
  border-color: none;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.3rem;
  box-sizing: border-box;
}

.join-button:hover {
  background-color: rgba(0, 0, 0, 1);
}
